@model EpiserverSite1.Models.ViewModels.PageViewModel<EpiserverSite1.Models.Pages.ShoppingPage>

<div class="row">
    <p>Shopping page:</p>

    <h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>

    <div class="media span4">
        <div class="mediaImg">
            @Html.PropertyFor(x => x.CurrentPage.ProductImage)
            <h3 @Html.EditAttributes(x => x.CurrentPage.ProductName)>@Html.PropertyFor(x => x.CurrentPage.ProductName)</h3>
            <h3 @Html.EditAttributes(x => x.CurrentPage.ProductPrice)>@Html.PropertyFor(x => x.CurrentPage.ProductPrice)</h3>
        </div>
    </div>
    <div class="span8">
            @Html.PropertyFor(x => x.CurrentPage.ProductDecscription)
            <button type="submit" class="btn btn-primary">Köp</button>
    </div>
</div>